/**
	This code is confidential proprietary trade secret of MiHIN. Copyright MiHIN 2018.
**/
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	/* Negative indent footer by its height */
	margin: 0 0 -60px;
	/* Pad bottom by footer height */
	padding-bottom: 60px;
}

#footer {
	height: auto;
	background-color: #e8e8e8;
}

#footer {
	font-size: 0.9em;
	padding-top: 8px;
	padding-bottom: 8px;
	/* padding-left: 15px;
	padding-right: 15px; */
	text-align: center;
}

.copyright {
	margin: 0 8px 2px 8px;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

/* LOGIN CSS */
.loginForm {
	margin-top: 10% !important;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 15px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading, .checkbox {
	margin-bottom: 30px;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}